<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Obiekt Class i jego funkcje/src/toy/ToyTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="toy.ToyTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Obiekt Class i jego funkcje"/>
</launchConfiguration>
